{% extends "template.html" %}
{% block body %}
  <h1 class="header center orange-text">Bienvenue {{ username }}</h1>
      <div class="row center">
        <h3>Recherche d'un bénévole</h3>
          <div class="row">
            <form class="col s12" action="chercher" method="POST">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="XXXXXXXXXX" name="rfid" type="text" class="validate">
                  <label for="rfid">Entrer le RFID</label>
                </div>
                  <input type="submit" style="position: absolute; left: -9999px"/>
              </div>
              <div class="row">
                <button class="waves-effect waves-light btn orange" type="submit">Créer</button>
              </div>
            </form>
          </div>
      </div>
{% endblock %}