{% extends "template.html" %}
{% block body %}
  <h1 class="header center orange-text">Login Page</h1>
    <div class="row center">
          <form name="login" action="login" method="post" accept-charset="utf-8">
            <ul>
                <li><label for="username">Username</label>
                <input type="text" name="username" placeholder="username" required></li>
                <li><label for="password">Password</label>
                <input type="password" name="password" placeholder="password" required></li>
                <li>
                <input class='btn orange' type="submit" value="Login"></li>
            </ul>
          </form>
    </div>
{% endblock %}